{#TODO: redesign website layout too much like sirs at the current moment#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Network Drive</title>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css' ) }}">
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
    <link rel="icon" href="{{ url_for( 'static', filename='assets/networkdrive.ico') }}">
</head>
<body>
<div class="grid">
    <div id="header"><img src="{{ url_for( 'static', filename='assets/networkdrive.png') }}" id="logo">Network
        Drive{% block header %}{% endblock %}</div>
    <div id="tab">{% block tab %}{% endblock %}</div>
    <div id="nav">{% block nav %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="setting">{% block setting %}{% endblock %}</div>
</div>
</body>
</html>