<!DOCTYPE html>
{% extends 'base.html' %}
{% block head %}
    <title>{% block title %}Drive{% endblock %}</title>
{% endblock %}
{% block body %}
    {% block header %}
        <div class="loggedinuser">{{ session['user'] }}</div>
        <div class="searchbar">
            <form name="search" method="post" action="/network/search">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    {% endblock %}
    {% block tab %}Drive selector thingy mah bob{% endblock %}r
    {% block nav %}Navigational gear{% endblock %}
    {% block content %}
        {% for x in files %}
            <a href="#"><img
                    src="{{ url_for( 'static', filename='assets/fileicons/file.png' ) }}"
                    alt="{{ x }}">{# TODO: Fix this up so it displays the name of the file and the Proper Icon #}
            </a>
        {% endfor %}
        {% for x in folders %}
            <a href="#"><img
                    src="{{ url_for( 'static', filename='assets/fileicons/folder.png' ) }}"
                    alt="{{ x }}">{# TODO: Fix this up so it displays the name of the file and then style it #}
            </a>
        {% endfor %}
    {% endblock %}
    {% block setting %}heheheheheheheh{% endblock %}
{% endblock %}