* {
    --color-1: #E2474B;
    --color-2: #2D3A56;
    --color-3: #406D96;
    --color-4: #A8D0DA;
    --color-5: #D8E8EB;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro';
    line-height: calc(1.1em + 0.5vw);
}

body {
    background-color: var(--color-2);
    font-size: calc(16px + 1vw);
}

/*

    GRID

*/

.logingrid {
    display: grid;
    grid-template-areas: 'top top top' 'tabt tabt tabt' 'left middle right' 'tabb tabb tabb'
    'bottom bottom bottom';
    width: 90vw; /* 90% of viewport width */
    margin: 0 auto; /* centres the element */
}

@media screen and (max-width: 640px) {
    .logingrid {
        display: grid;
        grid-template-areas: 'top' 'tabt' 'left' 'middle' 'right' 'tabb' 'bottom';
    }
}


.logo {
    width: calc(30px + 1vw);
    height: auto;
    float: left;
    text-align: left;
}

#top {
    background-color: var(--color-2);
    grid-area: top;
    color: var(--color-1);
    padding: 5px;
}

#tabt {
    background-color: var(--color-3);
    grid-area: tabt;
    color: var(--color-2);
    padding: 5px;
}

#left {
    background-color: var(--color-3);
    grid-area: left;
    float: left;
    padding: 5px;
}

#middle {
    background-color: var(--color-4);
    grid-area: middle;
    min-width: 88vw;
    padding: 5px;
    text-align: center;
}

#right {
    background-color: var(--color-3);
    grid-area: right;
    padding: 5px;
}

#tabb {
    background-color: var(--color-3);
    grid-area: tabb;
    color: var(--color-2);
    padding: 5px;
}

#bottom {
    background-color: var(--color-5);
    grid-area: bottom;
    color: var(--color-2);
    padding: 5px;
    text-align: center;
}

.loginform {
    display: inline-block;
    text-align: left;

}

.loginform input {
    font-size: calc(16px + 1vw);
}

#login {
    text-align: center;
    margin-left: 130px;
}

/*---------
    Base
-----------*/

.grid {
    display: grid;
    grid-template-areas: 'header header header' 'nav tab setting' 'nav content setting';
    width: 90vw;
    margin: 0 auto;
}

#header {
    grid-area: header;
    padding: 5px;
    margin: 0;
    color: var(--color-1);
    border-bottom: solid var(--color-3) 5px;
}

#tab {
    grid-area: tab;
}

#nav {
    grid-area: nav;
}

#content {
    grid-area: content;
    min-width: 60vw;
}

#setting {
    grid-area: setting;
}

#404heading {
    color: var(--color-1);
    text-align: center;
    font-size: calc(30px + 2vw);
}

.loggedinuser {
    float: right;
    color: red;
}

.searchbar {
    float: right;
}

.searchbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.searchbar button {
    float: right;
    padding: 6px 8px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.displays {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.files {
    display: flex;
    flex-wrap: wrap;
}

.imgdis {
    text-align: justify;
    border: groove var(--color-5);
    font-size: calc(10px + 0.5vw);
    margin: 0.5vw 0.5vw 0;
    background-color: var(--color-3);
}

.imgdis img {
    display: block;
}

